{% extends 'base/base.html' %}
{% load humanize %}
{% load custom_filters %}

<head>
    {% block title %}Crear Venta{% endblock title %}
    {% block stylesheets %}{% endblock stylesheets %}
</head>

{% block content %}
<section class="content">
    <div class="container-fluid"><!-- INICO DEL CONTENEDOR -->
        <h2>Registrar nueva venta</h2>

        <form method="post"><!-- INICO DE FORMULARIO -->
            {% csrf_token %}
            <div class="row"><!-- INICIO DE LA FILA -->
                <div class="col-md-8 mt-3"><!-- INICIO PRIMERA COLUMNA -->

                    <div class="hstack gap-5">
                        <select class="selectProducto form-control" style="max-width: 50%;" placeholder="Selecciona el producto..."
                            name="selectProducto" id="selectProducto">
                            <option value=""></option>
                            {% for producto in productos %}
                            <option value="{{ producto.id_producto }}" data-precio="{{ producto.precio_actual }}"
                                data-idiva="{{ producto.id_iva.descripcion }}">
                                {{ producto.nombre }}
                            </option>
                            {% endfor %}

                        </select>
                        <div class="input-group input-group-sm" style="max-width: 20%;">
                            <label class="input-group-text" for="cantidad">Cantidad </label>
                            <input class="form-control" type="number" name="cantidad" id="cantidad">
                        </div>
                        <div class="vr"></div>
                        <div class="">
                            <button class="btn btn-success w-100" type="button" onclick="agregarProductoATabla()">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <br>
                    <div class="table-responsive p-0">
                        <table class="table table-hover text-nowrap" id="tablaProductos" border="1">
                            <thead>
                                <tr>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center" style="width: 7%">Cantidad</th>
                                    <th class="text-center">Precio Unitario</th>
                                    <th class="text-center">Total Detalle</th>
                                    <th class="text-center" style="width: 7%">IVA</th>
                                    <th class="text-center" style="width: 7%">Accion</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <!-- Aquí se agregarán las filas dinámicamente -->
                            </tbody>
                        </table>
                        <input type="hidden" name="productos_json" id="productos_json">
                    </div>

                </div> <!-- FIN PRIMERA COLUMNA -->
               

                <div class="col-md-3 card"><!-- INICIO SEGUNDA COLUMNA -->
                    <div class="vstack gap-2">
                        <div class="p-2">
                            <label class="card-title" for="cliente">Cliente</label>
                            <br>
                            <select class="form-control" name="cliente" id="cliente">
                                {% for cliente in clientes %}
                                <option value="{{ cliente.id_cliente }}">
                                    {{ cliente.nombre }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="p-2">
                            <label class="card-title" for="tipo_de_pago">Forma de Pago</label>
                            <br>
                            <select class="form-control" name="tipo_de_pago" id="tipos_de_pago">
                                {% for tipo_de_pago in tipos_de_pago %}
                                <option value="{{ tipo_de_pago.id_tipo_pago }}">
                                    {{ tipo_de_pago.descripcion }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="p-2">
                            <label class="card-title" for="total_venta">Total venta</label>
                            <input class="form-control" type="number" name="total_venta" id="total_venta" value="0"
                                readonly>
                        </div>
                        <div class="p-2">
                            <label class="card-title" for="total_iva_10">Total IVA 10</label>
                            <input class="form-control" type="number" name="total_iva_10" id="total_iva_10" value="0"
                                readonly>
                        </div>
                        <div class="p-2">
                            <label class="card-title" for="total_iva_5">Total IVA 5</label>
                            <input class="form-control" type="number" name="total_iva_5" id="total_iva_5" value="0"
                                readonly>
                        </div>


                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary mt-3 ">Guardar</button>
                        </div>
                    </div>
                </div><!-- FIN SEGUNDA COLUMNA -->
            </div><!-- FIN DE LA FILA -->
        </form><!-- FIN DE FORMULARIO -->
    </div><!-- FIN DEL CONTENEDOR -->

</section>
<script>
    $(document).ready(function () {
        $('#selectProducto').select2({
            placeholder: "Selecciona un producto",
            allowClear: true
        });
    });
    $(document).ready(function () {
        $('#cliente').select2({
            placeholder: "Selecciona un cliente",
            allowClear: true
        });
    });
</script>
<script>
    let productos = [];
    function agregarProductoATabla() {
        const selectProducto = document.getElementById("selectProducto");
        const cantidad = parseFloat(document.getElementById("cantidad").value) || 0;
        const precio = parseFloat(selectProducto.options[selectProducto.selectedIndex].getAttribute('data-precio')) || 0;
        const idIva = parseInt(selectProducto.options[selectProducto.selectedIndex].getAttribute('data-idiva')) || 0;
        const nombreProducto = selectProducto.options[selectProducto.selectedIndex].text;
        const idProducto = selectProducto.value;

        const totalDetalle = cantidad * precio;
        let iva = 0;

        // Calcular IVA en base al valor del id_iva
        if (idIva === 10) {
            iva = totalDetalle / 11;
            actualizarTotalIVA(iva, 0);
        } else if (idIva === 5) {
            iva = totalDetalle / 21;
            actualizarTotalIVA(0, iva);
        }

        // Buscar si el producto ya está en la tabla
        const productoExistente = productos.find(prod => prod.id_producto === idProducto);
        console.log("productoExistente: ",productoExistente);
        if (productoExistente) {
            // Actualizar producto existente
            productoExistente.cantidad += cantidad;
            productoExistente.total_detalle = (productoExistente.cantidad * precio).toFixed(0);

            // Actualizar la fila en la tabla
            const fila = document.querySelector(`tr[data-producto-id='${idProducto}']`);
            fila.cells[1].innerText = productoExistente.cantidad;
            fila.cells[3].innerText = productoExistente.total_detalle;
            fila.cells[4].innerText = (parseFloat(fila.cells[4].innerText)  + iva).toFixed(0);
        } else {
            // Insertar nueva fila si no existe el producto
            const tabla = document.getElementById("tablaProductos").querySelector("tbody");
            const nuevaFila = tabla.insertRow();
            nuevaFila.setAttribute('data-producto-id', idProducto); // Añadir ID de producto a la fila

            const celdaProducto = nuevaFila.insertCell(0);
            const celdaCantidad = nuevaFila.insertCell(1);
            const celdaPrecio = nuevaFila.insertCell(2);
            const celdaTotalDetalle = nuevaFila.insertCell(3);
            const celdaIva = nuevaFila.insertCell(4);
            const celdaAccion = nuevaFila.insertCell(5);

            celdaProducto.innerText = nombreProducto;
            celdaCantidad.innerText = cantidad;
            celdaPrecio.innerText = precio.toFixed(0);
            celdaTotalDetalle.innerText = totalDetalle.toFixed(0);
            celdaIva.innerText = iva.toFixed(0);
            celdaAccion.innerHTML = `<button class="btn btn-sm btn-danger" title="Eliminar" onclick="eliminarProducto('${idProducto}', ${totalDetalle}, ${iva}, ${idIva})"><i class="bi bi-trash"></i></button>`;
            console.log("idProducto:",idProducto, "tipo de dato:", typeof idProducto)
            console.log("cantidad:",cantidad, "tipo de dato:", typeof cantidad)
            console.log("total_detalle:",totalDetalle, "tipo de dato:", typeof totalDetalle)
            const productoObj = {
                id_producto: idProducto,
                cantidad: cantidad,
                total_detalle: totalDetalle.toFixed(0)
            };
            productos.push(productoObj);
        }

        document.getElementById('productos_json').value = JSON.stringify(productos);
        /*
        // Agregar campos ocultos para enviar al servidor
        nuevaFila.innerHTML += `
            <input type="hidden" name="tablaProductos[]" value="${selectProducto.value},${cantidad},${totalDetalle}">
        `;*/
        actualizarTotal(totalDetalle);
    }

    function eliminarProducto(idProducto, totalDetalle, iva, idIva) {
        // Buscar la fila por el id_producto
        const tabla = document.getElementById("tablaProductos").querySelector("tbody");
        const fila = document.querySelector(`tr[data-producto-id='${idProducto}']`);
        const total_detalle_a_eliminar = (parseFloat(fila.cells[3].innerText)).toFixed(0)
        const total_iva = (parseFloat(fila.cells[4].innerText)).toFixed(0)
        // Eliminar la fila de la tabla
        tabla.removeChild(fila);

        // Eliminar producto de la lista de productos
        productos = productos.filter(prod => prod.id_producto !== idProducto);

        // Actualizar el campo oculto con los productos restantes
        document.getElementById('productos_json').value = JSON.stringify(productos);

        // Restar el total detalle del total de la venta
        actualizarTotal(-total_detalle_a_eliminar);

        // Restar el IVA correspondiente
        if (idIva === 10) {
            actualizarTotalIVA(-total_iva, 0);
        } else if (idIva === 5) {
            actualizarTotalIVA(0, -total_iva);
        }
    }

    function actualizarTotal(nuevoTotalDetalle) {
        const total_venta = document.getElementById("total_venta");
        const totalVentaActual = parseFloat(total_venta.value) || 0;
        const nuevoTotalVenta = totalVentaActual + nuevoTotalDetalle;
        total_venta.value = nuevoTotalVenta.toFixed(0);
    }

    function actualizarTotalIVA(iva10, iva5) {
        const totalIva10 = document.getElementById('total_iva_10');
        const totalIva5 = document.getElementById('total_iva_5');

        totalIva10.value = ((parseFloat(totalIva10.value) || 0) + iva10).toFixed(0);
        totalIva5.value = ((parseFloat(totalIva5.value) || 0) + iva5).toFixed(0);
    }

</script>



{% endblock content %}