{% extends 'base/base.html' %}
{% load humanize %}
{% load custom_filters %}
{% block title %}Editar Venta{% endblock title %}

{% block content %}
<form method="post">
{% csrf_token %}
<div>
    <label for="selectProducto">Producto</label>
    <select class="selectProducto" name="selectProducto" id="selectProducto">
        <option value=""></option>
        {% for producto in productos %}
        <option value="{{ producto.id_producto }}" 
            data-precio="{{ producto.precio_actual }}" data-descripcionIva="{{ producto.id_iva.descripcion }}">
            {{ producto.nombre }}
        </option>
        {% endfor %}
    </select>
    <br>
    <label for="cantidad">Cantidad:</label>
    <input type="number" name="cantidad" id="cantidad">
    <br>
    <button type="button" onclick="agregarProductoATabla()">Agregar Producto</button>
</div>

<br><br>

<table id="tablaProductos" border="1">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total Detalle</th>
            <th>IVA</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalle_venta %}
        <tr data-index="{{ forloop.counter0 }}">
            <td>{{ detalle.id_producto.nombre }}</td>
            <td>{{ detalle.cantidad_producto|floatformat:0 }}</td>
            <td>{{ detalle.id_producto.precio_actual|floatformat:0 }}</td>
            <td>{{ detalle.total_detalle|floatformat:0 }}</td>
            <td>
                {% if detalle.iva_10 > 0 %}
                    {{ detalle.iva_10|floatformat:0 }}
                {% elif detalle.iva_5 > 0 %}
                    {{ detalle.iva_5|floatformat:0 }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td>
                <button type="button" onclick="eliminarProducto({{ forloop.counter0 }}, {{ detalle.total_detalle|floatformat:0 }}, {% if detalle.iva_10 > 0 %}
                    {{ detalle.iva_10|floatformat:0 }}
                {% elif detalle.iva_5 > 0 %}
                    {{ detalle.iva_5|floatformat:0 }}
                {% else %}
                    0
                {% endif %}, {{ detalle.id_producto.id_iva.descripcion|floatformat:0 }})">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" name="productos_json" id="productos_json">

<br>

<label for="total_venta">Total venta:</label>
<input type="number" name="total_venta" id="total_venta" value="{{ venta.total_venta|floatformat:0 }}" readonly>
<br>
<label for="total_iva_10">Total IVA 10:</label>
<input type="number" name="total_iva_10" id="total_iva_10" value="{{ venta.total_iva_10|floatformat:0 }}" readonly>
<br>
<label for="total_iva_5">Total IVA 5:</label>
<input type="number" name="total_iva_5" id="total_iva_5" value="{{ venta.total_iva_5|floatformat:0 }}" readonly>

<label for="cliente">Cliente</label>
<select name="cliente" id="cliente">
    {% for cliente in clientes %}
    <option value="{{ cliente.id_cliente }}">
        {{ cliente.nombre }}
    </option>
    {% endfor %}
</select>
<div>
<label for="tipo_de_pago">Forma de Pago</label>
<select name="tipo_de_pago" id="tipos_de_pago">
    {% for tipo_de_pago in tipos_de_pago %}
    <option value="{{ tipo_de_pago.id_tipo_pago }}">
        {{ tipo_de_pago.descripcion }}
    </option>
    {% endfor %}
</select>
</div>

<button type="submit">Guardar</button>
</form>
<script>
$(document).ready(function() {
    $('#selectProducto').select2({
        placeholder: "Selecciona un producto",
        allowClear: true
    });
});
</script>
<script>
let productos = [];
function agregarProductoATabla() {
    const selectProducto = document.getElementById("selectProducto");
    const cantidad = parseFloat(document.getElementById("cantidad").value) || 0;
    const precio = parseFloat(selectProducto.options[selectProducto.selectedIndex].getAttribute('data-precio')) || 0;
    const descripcionIva = parseInt(selectProducto.options[selectProducto.selectedIndex].getAttribute('data-descripcionIva')) || 0;
    const nombreProducto = selectProducto.options[selectProducto.selectedIndex].text;
    
    const totalDetalle = cantidad * precio;
    let iva = 0;

    // Calcular IVA en base al valor del id_iva
    if (descripcionIva === 10) {
        iva = totalDetalle / 11;
        actualizarTotalIVA(iva, 0);
    } else if (descripcionIva === 5) {
        iva = totalDetalle / 21;
        actualizarTotalIVA(0, iva);
    }

    const tabla = document.getElementById("tablaProductos").querySelector("tbody");
    const nuevaFila = tabla.insertRow();
    const rowIndex = tabla.rows.length - 1;

    const celdaProducto = nuevaFila.insertCell(0);
    const celdaCantidad = nuevaFila.insertCell(1);
    const celdaPrecio = nuevaFila.insertCell(2);
    const celdaTotalDetalle = nuevaFila.insertCell(3);
    const celdaIva = nuevaFila.insertCell(4);
    const celdaAccion = nuevaFila.insertCell(5)

    celdaProducto.innerText = nombreProducto;
    celdaCantidad.innerText = cantidad; // Formato de miles
    celdaPrecio.innerText = precio.toFixed(0); // Formato de miles
    celdaTotalDetalle.innerText = totalDetalle.toFixed(0); // Formato de miles
    celdaIva.innerText = iva.toFixed(0); // Formato de miles
    celdaAccion.innerHTML = `<button type="button" onclick="eliminarProducto(${rowIndex}, ${totalDetalle}, ${iva}, ${descripcionIva})">Eliminar</button>`;

    const productoObj = {
        id_producto: selectProducto.value,
        cantidad: cantidad,
        total_detalle: totalDetalle
    };
    productos.push(productoObj);

    document.getElementById('productos_json').value = JSON.stringify(productos);
    /*
    // Agregar campos ocultos para enviar al servidor
    nuevaFila.innerHTML += `
        <input type="hidden" name="tablaProductos[]" value="${selectProducto.value},${cantidad},${totalDetalle}">
    `;*/
    actualizarTotal(totalDetalle);
}

function eliminarProducto(index, totalDetalle, iva, descripcionIva) {
    console.log("index: ",index, "totalDetalle: ", totalDetalle,"iva: ", iva," descripcionIva: ", descripcionIva)
    // Eliminar fila de la tabla
    const tabla = document.getElementById("tablaProductos").querySelector("tbody");
    tabla.deleteRow(index);

    // Eliminar producto de la lista de productos
    productos.splice(index, 1);

    // Actualizar el campo oculto con los productos restantes
    document.getElementById('productos_json').value = JSON.stringify(productos);

    // Restar el total detalle del total de la venta
    actualizarTotal(-totalDetalle);

    // Restar el IVA correspondiente
    if (descripcionIva === 10) {
        actualizarTotalIVA(-iva, 0);
    } else if (descripcionIva === 5) {
        actualizarTotalIVA(0, -iva);
    }
}
function actualizarTotal(nuevoTotalDetalle) {
    const total_venta = document.getElementById("total_venta");
    const totalVentaActual = parseFloat(total_venta.value.replace(/\./g, '').replace(',', '.')) || 0;
    const nuevoTotalVenta = totalVentaActual + nuevoTotalDetalle;
    total_venta.value = nuevoTotalVenta.toFixed(0);
}

function actualizarTotalIVA(iva10, iva5) {
    const totalIva10 = document.getElementById('total_iva_10');
    const totalIva5 = document.getElementById('total_iva_5');
    total_iva_10 = parseFloat(totalIva10.value.replace(/\./g, '').replace(',', '.')) || 0;
    total_iva_5 = parseFloat(totalIva5.value.replace(/\./g, '').replace(',', '.')) || 0;
    console.log("totalIva10: ",total_iva_10, " totalIva5: ",total_iva_5)
    console.log("iva10: ",iva10, " iva5: ",iva5)
    nuevo_total_iva_10 = total_iva_10 + iva10;
    totalIva10.value = nuevo_total_iva_10.toFixed(0);
    nuevo_total_iva_5 = total_iva_5 + iva5;
    totalIva5.value = nuevo_total_iva_5.toFixed(0);
}

</script>

{% endblock content %}
