.card-link{
    color: chocolate;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.card-link:hover{
    color: #242628;
}
.btn-crear {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    border: 2px solid chocolate;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.btn-crear:hover {
    background-color: white;
    color: chocolate;
    border: 2px solid chocolate;
}


.btn-limpiar {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: rgba(210, 105, 30, 0);
    color: #242628;
    border: 2px solid #242628;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.btn-limpiar:hover {
    background-color: white;
    color: chocolate;
    border: 2px solid chocolate;
}

.btn-cancelar {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: #242628;
    color: #f6f7f8;
    border: 2px solid #242628;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.btn-cancelar:hover {
    background-color: white;
    color: #242628;
    border: 2px solid #242628;
}