.card-link{
    color: chocolate;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.card-link:hover{
    color: #242628;
}
.btn-crear {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: chocolate !important;
    color: white !important;
    border: 2px solid chocolate !important;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease !important;
    cursor: pointer !important;
    display: inline-block !important;
}

.btn-crear:hover {
    background-color: white !important;
    color: chocolate !important;
    border: 2px solid chocolate !important;
}


.btn-limpiar {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: rgba(210, 105, 30, 0) !important;
    color: #242628 !important;
    border: 2px solid #242628 !important;
    font-weight: 500;
    text-align: center !important;
    transition: all 0.3s ease !important;
    cursor: pointer !important;
    display: inline-block;
}

.btn-limpiar:hover {
    background-color: white !important;
    color: chocolate !important;
    border: 2px solid chocolate !important;
}

.btn-cancelar {
    padding: 5px 15px;
    white-space: initial;
    border-radius: 5px;
    background-color: #242628 !important;
    color: #f6f7f8 !important;
    border: 2px solid #242628 !important;
    font-weight: 500;
    text-align: center !important;
    transition: all 0.3s ease !important;
    cursor: pointer !important;
    display: inline-block;
}

.btn-cancelar:hover {
    background-color: white !important;
    color: #242628 !important;
    border: 2px solid #242628 !important;
}