.table-head-color{
    background-color: rgb(235, 146, 83); 
}

.table-head-color th{
    color: white;
    text-align: center;
}
.table-head-color th:hover{
    background-color: rgb(235, 146, 83); 
}