{% extends "base/base.html" %}

{% block title %}Inventario{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Agregar</h2>
        <h6 class="card-subtitle mb-2 text-muted">Formulario de creación</h6>
        <p class="card-text">Completa los campos para crear.</p>
        <a href="{% url 'inventario:inventario' %}" class="card-link mb-3">Volver a la lista de inventario</a>
        <form class="mt-3" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label class="input-group-text">Nombre</label>
                <input type="text" class="form-control" name="nombre" required>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Cantidad Chico</label>
                <input type="number" class="form-control" name="cant_chico" required>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Cantidad Grande</label>
                <input type="number" class="form-control" name="cant_grande" required>
            </div>
            <button type="submit" class="btn-crear mt-3 ">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}