{% extends 'base/base.html' %}

{% block title %} Proveedores {% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h1>Lista de Proveedores</h1>
        <div class="row p-3 card-title align-items-center">
            <div class="col-12 d-flex justify-content-md-end justify-content-center">
                <a class="btn btn-crear btn-sm" href="{% url 'proveedores:crear_proveedor' %}" role="button">
                    <i class="bi bi-plus-circle"></i> Registrar proveedor</a>
            </div>
        </div>
        {% if proveedores_por_pagina %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="text-center table-head-color">
                <tr>
                    {% for columna in columnas %}
                    <th style="color: white;">{{columna}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for proveedor in proveedores_por_pagina %}
                <tr>
                    <td>{{proveedor.documento}}</td>
                    <td>{{proveedor.nombre}}</td>
                    <td>{{proveedor.direccion}}</td>
                    <td>{{proveedor.correo}}</td>
                    <td>{{proveedor.estado}}</td>
                    <td>{{proveedor.telefono}}</td>
                    <td class="text-center"><a type="button" class="btn-crear"
                                               href="{% url 'proveedores:editar_proveedor' proveedor.id_proveedor %}"><i
                            class="bi bi-pen"></i></a>
                        <a type="button" class="btn-cancelar" data-bs-toggle="modal"
                           data-bs-target="#confirmarEliminarModal{{ proveedor.id_proveedor }}"><i
                                class="bi bi-trash"></i></a>
                        <div class="modal fade" id="confirmarEliminarModal{{ proveedor.id_proveedor }}" tabindex="-1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmar eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar al proveedor <span class="fw-bold">{{proveedor.nombre}}</span>?
                                        Esta acción no se puede deshacer.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>
                                        <a href="{% url 'proveedores:eliminar_proveedor' proveedor.id_proveedor %}"
                                           class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>
            {% include "base/pagination.html" with items_page=proveedores_por_pagina %}
        </div>
        {% else %}
        {% include "base/sin_registro.html" %}
        {% endif %}
    </div>
</div>


{% endblock %}