{% extends 'base/base.html' %} {% load humanize %} {% load custom_filters %} 
{% load static %}
{% load humanize %}
{% block title %}Editar Venta{% endblock title %} {% block content %}
<section class="content">
  <div class="container-fluid">
    <!-- INICO DEL CONTENEDOR -->
    <h2>Modificar venta</h2>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <!-- INICIO DE LA FILA -->
        <div class="col-md-8 mt-3">
          <!-- INICIO PRIMERA COLUMNA -->
          <div class="hstack gap-5">
            <select
              class="selectProducto form-control"
              style="max-width: 50%"
              name="selectProducto"
              id="selectProducto"
            >
              <option value=""></option>
              {% for producto in productos %}
              <option
                value="{{ producto.id_producto }}"
                data-precio="{{ producto.precio_actual }}"
                data-descripcionIva="{{ producto.id_iva.descripcion }}"
              >
                {{ producto.nombre }}
              </option>
              {% endfor %}
            </select>
            <div class="input-group input-group-sm" style="max-width: 20%">
              <label class="input-group-text" for="cantidad">Cantidad </label>
              <input
                class="form-control"
                type="number"
                name="cantidad"
                id="cantidad"
              />
            </div>
            <div class="vr"></div>
            <div class="">
              <button
                class="btn btn-success w-100"
                type="button"
                onclick="agregarProductoATabla()"
              >
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </div>

          <br />
          <div class="table-responsive p-0">
            <table
              class="table table-hover text-nowrap"
              id="tablaProductos"
              border="1"
            >
              <thead class="text-center">
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Total Detalle</th>
                  <th>IVA</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for detalle in detalle_venta %}
                <tr data-producto-id="{{detalle.id_producto.id_producto}}">
                  <td>{{ detalle.id_producto.nombre }}</td>
                  <td>{{ detalle.cantidad_producto }}</td>
                  <td>{{ detalle.id_producto.precio_actual }}</td>
                  <td>{{ detalle.total_detalle }}</td>
                  <td>
                    {% if detalle.iva_10 > 0 %} {{ detalle.iva_10|floatformat:0}} {% elif detalle.iva_5 > 0 %} {{detalle.iva_5|floatformat:0 }} {% else %} 0 {% endif %}
                  </td>
                  <td>
                    <button
                      class="btn btn-sm btn-danger"
                      title="Eliminar"
                      onclick="eliminarProducto({{ detalle.id_producto.id_producto }}, {{ detalle.total_detalle|floatformat:0 }}, {% if detalle.iva_10 > 0 %}
                    {{ detalle.iva_10|floatformat:0 }}
                {% elif detalle.iva_5 > 0 %}
                    {{ detalle.iva_5|floatformat:0 }}
                {% else %}
                    0
                {% endif %}, {{ detalle.id_producto.id_iva.descripcion|floatformat:0 }})"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <input type="hidden" name="productos_json" id="productos_json" />
          </div>
        </div>
        <!-- FIN PRIMERA COLUMNA -->
        <div class="col-md-3 card">
          <!-- INICIO DE SEGUNDA COLUMNA -->
          <div class="vstack gap-2">
            <!-- INICIO DE PILA DE DATOS -->
            <div class="p-2">
              <label class="card-title" for="cliente">Cliente</label>
              <select class="form-control" name="cliente" id="cliente">
                {% for cliente in clientes %}
                <option value="{{ cliente.id_cliente }}">
                  {{ cliente.nombre }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="p-2">
              <label class="card-title" for="total_venta">Total venta</label>
              <input
                class="form-control"
                type="number"
                name="total_venta"
                id="total_venta"
                value="{{ venta.total_venta|floatformat:0 }}"
                readonly
              />
            </div>
            <div class="p-2">
              <label class="card-title" for="total_iva_10">Total IVA 10</label>
              <input
                class="form-control"
                type="number"
                name="total_iva_10"
                id="total_iva_10"
                value="{{ venta.total_iva_10|floatformat:0 }}"
                readonly
              />
            </div>
            <div class="p-2">
              <label for="total_iva_5">Total IVA 5</label>
              <input
                class="form-control"
                type="number"
                name="total_iva_5"
                id="total_iva_5"
                value="{{ venta.total_iva_5|floatformat:0 }}"
                readonly
              />
            </div>

            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary mt-3">
                Guardar
              </button>
            </div>
          </div>
          <!-- FIN DE PILA DE DATOS -->
        </div>
        <!-- FIN DE SEGUNDA COLUMNA -->
      </div>
      <!-- FIN DE LA FILA -->
      <!-- Modal para ingresar el monto recibido -->
      <div
        class="modal fade"
        id="modalCobro"
        tabindex="-1"
        aria-labelledby="modalCobroLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCobroLabel">Forma de pago</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Cerrar"
              ></button>
            </div>
            <div class="modal-body">
              <label for="efectivo">Efectivo:</label>
              <input
                type="number"
                id="efectivo"
                name="efectivo"
                class="form-control"
                placeholder="Ingrese el monto"
                min="0"
              />
              <div class="mt-3">
                <span id="mensajeVuelto" class="fw-bold"></span>
              </div>

              <label for="pos">POS:</label>
              <input
                type="number"
                id="pos"
                name="pos"
                class="form-control"
                placeholder="Ingrese el monto"
                min="0"
              />

              <label for="transferencia">Transferencia:</label>
              <input
                type="number"
                id="transferencia"
                name="transferencia"
                class="form-control"
                placeholder="Ingrese el monto"
                min="0"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-warning"
                data-bs-dismiss="modal"
                onclick="enviarFormulario()"
              >
                Guardar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="calcularVuelto()"
              >
                Calcular Vuelto
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- FIN DE FORMULARIO -->
  </div>
  <!-- FIN DEL CONTENEDOR -->
</section>
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src={% static 'js/ventas.js' %}></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    inicializarSelects();
  });
</script>


{% endblock scripts %} {% endblock content %}
