{% load static %}

{% extends "base/base.html" %}
{% load humanize %}

{% block title %}Ventas{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}

<h2>Lista de Ventas</h2>
<div class="grid-container">
    <div class="card">
    <div class="row p-3 card-title">
        <div class="col-4">
            <h5 class="text-right">Total del día: {{total_ventas|floatformat:0|intcomma }}</h5>
        </div>
        <div class="col">
            <h5 class="text-right">Total ventas en efectivo: {{total_efectivo|floatformat:0|intcomma }}</h5>
        </div>
        <div class="col-2">
            <a role="button" class="btn btn-primary btn-sm" href="{% url 'ventas:ventas_historial' %}" ><i
                    class="bi bi-clock-history"> Historial</i></a>
        </div>

        <div class="col-2">
            <a role="button" class="btn btn-success btn-sm" href="{% url 'ventas:crear_venta' %}" ><i
                    class="bi bi-plus-circle mt-3"></i> Nueva Venta</a>
        </div>

    </div>
    <br>
    <div class="table-responsive card-body">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    {% for columna in columnas %}
                    <th>{{columna}}</th>
                    {% endfor %}
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_por_pagina %}
                <tr>

                    <td>{{venta.id_cliente.nombre}}</td>
                    <td>{{venta.total_venta|floatformat:0|intcomma}}</td>
                    <td>{{venta.total_iva_10|floatformat:0|intcomma}}</td>
                    <td>{{venta.total_iva_5|floatformat:0|intcomma}}</td>
                    <td>{{venta.fecha_venta}}</td>
                    <td class="text-center"> <a type="button" class="btn btn-danger"
                            href="{% url 'ventas:eliminar_venta' venta.id_venta %}"><i class="bi bi-trash"></i></a>
                        <a type="button" class="btn btn-primary"
                            href="{% url 'ventas:editar_venta' venta.id_venta %}"><i class="bi bi-pen"></i></a>
                        <a type="button" class="btn btn-info" href="{% url 'ventas:detalle_venta' venta.id_venta %}"><i
                                class="bi bi-eye" style="color: aliceblue;"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% include "base/pagination.html" with items_page=ventas_por_pagina %}
    </div>
</div>
</div>
{% endblock %}