{% extends "base/base.html" %}
{% load static %}

{% load humanize %}

{% block title %}Ventas{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}

    <h2>Lista de Ventas</h2>
<div class="grid-container">

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Fecha</th>
                <th>TOTAL</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for venta in ventas_agrupadas %}
        <tr>

            <td>{{venta.fecha}}</td>
            <td>{{venta.total_ventas|floatformat:0|intcomma}}</td>
            <td>
                <a href="{% url 'ventas:ventas' venta.fecha|date:'Y-m-d' %}" class="btn btn-primary">Ver ventas</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% include "base/pagination.html" with items_page=ventas_agrupadas %}
</div>
</div>    
{% endblock %}
