{% extends "base/base.html" %}

{% block title %}Productos{% endblock %}

{% block body_class %} sidebar-mini {% endblock body_class %}

{% block content %}

    <h1>Lista de Productos</h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for columna in columnas %}
                <th>{{columna}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio_actual}}</td>
            <td>{{producto.stock_minimo}}</td>
            <td>{{producto.stock_actual}}</td>
            <td>{{producto.vencimiento}}</td>
            <td>{{producto.costo_actual}}</td>
            <td>{{producto.id_medida.descripcion}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>



    <a class="btn btn-primary" href="{% url 'productos:crear_producto' %}" role="button">Crear Producto</a>

{% endblock %}
