{% extends "base/base.html" %}

{% block title %}Roles{% endblock %}

{% block content %}
    <h3>Lista de roles</h3>
<div class="table-responsive">
        <table class="table table-bordered">

    <thead>
        <tr>
            <th>Rol</th>
            <th>Permisos</th>
        </tr>
    </thead>
    <tbody>
        {% for item in roles_con_permisos %}
            <tr>
                <td>{{ item.rol.descripcion }}</td>
                <td>
                    <ul>
                        {% for permiso in item.permisos %}
                            <li>{{ permiso.id_permiso.descripcion }}</li>
                        {% empty %}
                            <li>No hay permisos asociados</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

    <a class="btn btn-primary" href="{% url 'usuarios:crear_rol' %}" role="button">Crear Permiso</a>
{% endblock %}